<form (ngSubmit)="handleSubmit($event)">
  <fieldset>
    <legend>Registration Form</legend>
    Username:
    <input type="text" name="Username" [(ngModel)]="username" />
    <br />
    Password:
    <input type="text" name="password" [(ngModel)]="password" />
    <br />
    Confirm Password:
    <input type="text" name="confirm-password" [(ngModel)]="cpassword" />
    <br />
    <div id="error" style="color: red">
      {{ error }}
    </div>
    <br />
    <button type="submit">Sign Up</button>
  </fieldset>
</form>
