<h1 class="font-bold mb-4">Simple Calculator</h1>

<form (ngSubmit)="handleSubmit()" class="*:text-center">
  <input name="a" type="number" class="w-20 border" [(ngModel)]="a" />
  <select name="op" class="border border-gray-500 mx-4 bg-gray-100 px-4" [(ngModel)]="op">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
  </select>
  <input name="b" type="number" class="w-20 border" [(ngModel)]="b" /> <br />
  <div class="font-semibold text-lg pt-4">
    Result:
    {{ result }}
  </div>
  <button type="submit" class="text-white bg-green-800 px-4 py-2 rounded m-4 font-bold">
    Calculate
  </button>
</form>
